<!-- 继承父模板 '__base__.html' -->
{% extends '__base__.html' %}
<!--jinja2 title 块内容替换-->
{% block title %}{{ blog.name }}{% endblock %}
<!--jinja2 beforehead 块内容替换-->
{% block beforehead %}
<!--script中构建vue,向后端API提交日志评论相关数据-->
<!--<script>-->

<!--var comment_url = '/api/blogs/{{ blog.id }}/comments';-->

<!--$(function () {-->
<!--    var $form = $('#form-comment');-->
<!--    $form.submit(function (e) {-->
<!--        e.preventDefault();-->
<!--        $form.showFormError('');-->
<!--        var content = $form.find('textarea').val().trim();-->
<!--        if (content==='') {-->
<!--            return $form.showFormError('请输入评论内容！');-->
<!--        }-->
<!--        $form.postJSON(comment_url, { content: content }, function (err, result) {-->
<!--            if (err) {-->
<!--                return $form.showFormError(err);-->
<!--            }-->
<!--            refresh();-->
<!--        });-->
<!--    });-->
<!--});-->
<!--</script>-->
<!--<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>-->
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" />
<script src="/static/js/jquery.fancybox.min.js"></script>
<script src='//unpkg.com/valine@1.3.7/dist/Valine.min.js'></script>

{% endblock %}

<!--jinja2 content 块内容替换-->
{% block content %}
    <div class="uk-grid">
    <div class="uk-width-3-4">
        <!--日志内容详情-->
        <article class="uk-article">
            <h2>{{ blog.name }}</h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.html_content|safe }}</p>
        </article>

        <hr>
        <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: '2d34RBtycfCJMmHdb7oYxvHB-gzGzoHsz',
                appKey: '1YArxfgAjtHtqAaXbidkcyHo',
                meta:['nick','mail'],
                lang:'zh-cn',
                highlight: true,
                placeholder: '请输入...'
            })
        </script>
    </div>
    </div>

    <script>$("a.img_group").fancybox();</script>

{% endblock %}