
@font-face {
    font-family: my_font;
    /*src: url('../lib/font/font-light/SourceHanSansCN-Light.eot');*/
    /*src: url('../lib/font/font-light/SourceHanSansCN-Light.eot?#iefix') format('embedded-opentype'),*/
    src: url("../font/font.ttf");
    /*url("../lib/font/font-light/SourceHanSansCN-Light.woff") format("woff"),*/
    /*url("../lib/font/font-light/SourceHanSansCN-Light.svg") format("svg");*/
    font-weight: normal;
}
*{
    font-family: my_font;
}
h1{
    font-family: my_font;
}
h2{
    font-family: my_font;
}
h3{
    font-family: my_font;
}
h4{
    font-family: my_font;
}
.uk-navbar-container{
    font-family: my_font;
}

